{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}
{% else %}
  {% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person">

  {% if author.avatar %}
    <div class="author__avatar">
      {% if author.avatar contains "://" %}
        <img src="{{ author.avatar }}" alt="{{ author.name }}" itemprop="image">
      {% else %}
        <img src="{{ author.avatar | absolute_url }}" class="author__avatar" alt="{{ author.name }}" itemprop="image">
      {% endif %}
    </div>
  {% endif %}

  <div class="author__content">
    <h3 class="author__name" itemprop="name">{{ site.title }}</h3>
    {% if site.description %}
      <p class="author__bio" itemprop="description">
        {{ site.description }}
      </p>
    {% endif %}
    
    <nav>
      <ul id="navigation" class="links slimmenu">
        {% for link in site.data.navigation.main %}
          {% if link.url contains 'http' %}
            {% assign domain = '' %}
          {% else %}
            {% assign domain = site.url | append: site.baseurl %}
          {% endif %}
          <li class="menu-item">
            <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
            {% if link.children %}
              <ul>
                {% for child in link.children %}
                  {% if child.url contains 'http' %}
                    {% assign domain = '' %}
                  {% else %}
                    {% assign domain = site.url | append: site.baseurl %}
                  {% endif %}
                  <li><a href="{{domain }}{{child.url}}">{{ child.title }}</a></li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</div>
