/* ==========================================================================
   PAGE
   ========================================================================== */

.page {
  margin-bottom: 2em;
  float: none;
  margin: 0 auto;
  padding: 0;
  max-width: $max-width;
  @include breakpoint($small) {
    padding: 0 0.75rem;
  }

  a {
    color: $entry-link-color;
    text-decoration: none;

    &:hover {
      color: $entry-link-color-hover;
    }
  }
}

.page__subtitle {
  margin-top: 0;
  margin-bottom: 2em;
  color: $gray;
}

.page__share {
  padding: 1em 0;
}

.page__item-title {
  margin-bottom: 0.25em;
  font-family: $global-font-family;

  a + a {
    opacity: 0.5;
  }
}

/* remove border*/
.page__content {

  .page__item-title {
    margin-top: 1em;
    border-bottom: none;
  }
}

.page__title {
  margin-top: 0;
  line-height: 1;
  font-size: $type-size-1;
  margin-bottom: 0;
  color: $theme-color;

  & + .page__meta {
    margin-top: -0.5em;
  }
}

.page__meta {
  margin-top: 2em;
  color: mix(#fff, $gray, 25%);
  font-size: $type-size-5;
  p {
    margin: 0;
  }

  a {
    color: inherit;
  }
}

.list__item {
  .page__meta {
    margin: 0 0 4px;
  }
}
